    <div class="col-md-12 text-center">
              <button
              id="1"
              type="button"
              class="btn btn-primary purple mt-2"
              (click)="openPopup()">Add Request
            </button>
    </div>        
    <div
      class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{'display':displayStyle}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add New Request</h4>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="submitRequest()" #requestForm="ngForm">
              <div class="form-group">
                <label for="exampleInputItem1">Item</label>
                <input  [(ngModel)]="newRequest.Item" name="item" type="text" required class="form-control" class="form-control" id="exampleInputItem1" aria-describedby="" #name="ngModel">
              </div>
              <div class="form-group">
                <label for="exampleInputQuantity1">Quantity</label>
                <input [(ngModel)]="newRequest.Quantity" name="quantity" type="number" class="form-control" id="exampleInputQuantity1" #quantity="ngModel">
              </div>
              <div class="form-group">
                <label for="exampleInputRequest1">Request</label>
                <input  [(ngModel)]="newRequest.Request" name="request" type="text" required class="form-control" class="form-control" id="exampleInputRequest1" aria-describedby="" #request="ngModel">
              </div>
              <div class="form-group">
                <label for="exampleInputUrgency1">Urgency</label>
                <input [(ngModel)]="newRequest.Urgency" name="urgency" type="text" class="form-control" id="exampleInputUrgency1" #urgency="ngModel">
              </div>
            <!-- <div>
               <h6>Request type</h6>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  New Request
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Repair Request
                </label>
              </div>
             </div>
             <div>
              <h6>Urgency</h6>
             <div class="form-check">
               <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
               <label class="form-check-label" for="flexRadioDefault1">
                 Very Urgent
               </label>
             </div>
             <div class="form-check">
               <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
               <label class="form-check-label" for="flexRadioDefault2">
                 Urgent
               </label>
             </div>
             <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                Not Urgent
              </label>
            </div>
            </div>-->
              <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
      
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" 
                    (click)="closePopup()">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
