<div class="col-md-12 text-center">
    <button id="1" type="button" class="btn btn-primary purple mt-2" (click)="openPopup()">Add Request
    </button>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Assets</h4>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="submitAsset()" #requestForm="ngForm">
                    <div class="form-group">
                        <label for="exampleInputItem1">Item</label>
                        <input [(ngModel)]="newAsset.Item" name="item" type="text" required class="form-control"
                            class="form-control" id="exampleInputItem1" aria-describedby="" #name="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCategory1">Category</label>
                        <input [(ngModel)]="newAsset.Category" name="Category" type="text" class="form-control"
                            id="exampleInputCategory1" #category="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputRequest1">Assigned</label>
                        <input [(ngModel)]="newAsset.Assigned" name="request" type="number" required class="form-control"
                            class="form-control" id="exampleInputRequest1" aria-describedby="" #assigned="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputStored1">Stored</label>
                        <input [(ngModel)]="newAsset.Stored" name="Stored" type="Number" class="form-control"
                            id="exampleInputStored1" #stored="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputStored1">Broken</label>
                        <input [(ngModel)]="newAsset.Broken" name="Stored" type="text" class="form-control"
                            id="exampleInputStored1" #broken="ngModel">
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closePopup()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>