<div class="col-md-12 text-center">
    <button id="1" type="button" class="btn btn-primary purple mt-2" (click)="openPopup()">Add Assets
    </button>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Assets</h4>
            </div>
            <div class="modal-body">
                <form #f="ngForm" [formGroup]="form" (ngSubmit)="submitRequest()">
                    <div class="form-group">
                        <label for="exampleInputItem1">Item</label>
                        <input formControlName="name" type="text" class="form-control" name="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCategory1">Category</label>
                        <input formControlName="category" type="text" class="form-control" name="category">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputRequest1">Asset Value</label>
                        <input formControlName="asset_value" type="text" class="form-control" name="asset_value">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputStored1">Quantity</label>
                        <input formControlName="quantity" type="number" class="form-control" name="quantity">
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closePopup()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>