<div class="col-md-12 text-center">
    <button id="1" type="button" class="btn btn-primary purple mt-2" (click)="openPopup()">Add Assets
    </button>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Assets</h4>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="submitAsset()" [formGroup]="form" #requestForm="ngForm">
                    <div class="form-group">
                        <label for="exampleInputItem1">Item</label>
                        <input  name="item" type="text" required class="form-control"
                            class="form-control" id="exampleInputItem1" aria-describedby="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCategory1">Category</label>
                        <input  name="Category" type="text" class="form-control"
                            id="exampleInputCategory1" >
                    </div>
                    <div class="form-group">
                        <label for="exampleInputRequest1">Assigned</label>
                        <input  name="request" type="number" required class="form-control"
                            class="form-control" id="exampleInputRequest1" aria-describedby="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputStored1">Stored</label>
                        <input  name="Stored" type="Number" class="form-control"
                            id="exampleInputStored1" >
                    </div>
                    <div class="form-group">
                        <label for="exampleInputStored1">Broken</label>
                        <input  name="Stored" type="text" class="form-control"
                            id="exampleInputStored1" >
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>

            </div>
            
        </div>
    </div>
</div>