mat-nav-list{
  color: white;
  background-color: rgb(20, 99, 86);
}

mat-sidenav{
  
  background-color: rgb(20, 99, 86);
}


#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #646245;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a i{
  margin-right: 16px;
}
.row{
    text-align: center;
}
.inventory{
    padding-left: 40px;
}

#dash{
  background-color: transparent;
  border: none;
  text-align: center;
  padding-right: 90px;
  
}

#dash:hover {background-color: #448a7f}

.manager{
  font-family: 'Tenor Sans', sans-serif;
  /* height: 100vh; */
  
}
a{
  text-decoration: none;
  color: black;
}
.asset{
  background-image: linear-gradient(to bottom right, rgb(79, 74, 125) , white);
  height: 110px;
  border: 1px solid rgb(79, 74, 125);
  border-radius: 30px;

}

 mat-sidenav-container {
  height: inherit;
  
 }

mat-sidenav mat-nav-list  .chevron-button {
 transition: 300ms ease-in-out;
 transform: rotate(0deg);
 right: 0;
 float: right;
 position: absolute;
}
      
#side{
  background-color: rgb(20, 99, 86);
}
mat-sidenav mat-nav-list.chevron-button.rotated {
        transform: rotate(180deg);
      }
.content{
  background-color: #f3f3f3;
}  

.btn1{
  background-color: rgb(20, 99, 86);
  color: white;
  font-size: small;
  padding: 5;
}
#scope{
  background-color: rgb(20, 99, 86);
  color: white;
}

#choose{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: -45px;
  
}

h4{
  padding-bottom: 50px;
  margin-bottom: -30px;
}