<div class="container mt-5 d-flex flex-row">
    <div class="left-side green">
        <img alt="logo">
        <nav class="pt-5">
            <ul type="none">
                <li class="">
                  <div class="col-md-12 text-center">
                    <button class="green">
                    <a
                    routerLink="/users/:id"
                    routerLinkActive="active"
                    id="2"
                    type="button"
                    class="btn onet">
                    <img class="yyy" style="height: 70px; width: 130px;" src="../../assets/man.png">
                    Profile
                    </a>
                  </button>
                  </div>
                </li>
                <li class="">
                <div class="col-md-12 text-center">
                  <button class="green">
                  <a
                  id="2"
                  type="button green"
                  class="btn onet"
                  (click)="openPopu()">
                  <img class="yyy" style="height: 90px; width: 130px;" src="../../assets/message.png">
                  Messages
                </a>
                </button>
                </div>
                </li>
                <div class="twe">
                  <li class="">
                    <div class="col-md-12 text-center">
                      <button class="green">
                      <a
                      routerLink="/users/:id"
                      routerLinkActive="active"
                      id="2"
                      type="button"
                      class="btn onet twe">
                      <img class="yyy" style="height: 70px; width: 130px;" src="../../assets/request.png">
                      Requests
                      </a>
                    </button>
                    </div>
                  </li>
                  <li class="">
                      <div class="col-md-12 text-center">
                        <button class="green">
                        <a
                        id="2"
                        type="button"
                        class="btn onet"
                        (click)="openPop()">
                        <img class="yyy" src="../../assets/not.png">
                        Notifications
                        </a>
                      </button>
                      </div>
                  </li>
                </div>
            </ul>
        </nav>
    </div>
    <div class="right-side">
        <div class="green d-flex flex-row">
            <div class="input-group pt-2 pb-2 cen">
                <div class="form-outline">
                    <input type="search" id="form1" class="form-control" placeholder="Search"/>
                </div>
                  <button type="button" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                  </button>
            </div>
            <div>
                <img class="img" src="https://res.cloudinary.com/dante6996-arch/image/upload/v1638895973/odk9aruvpwstqf1tnwyx.png" alt="profile-pic" style="width: 100px; height: 100px;">
            </div>
        </div>
             
            <div class="down-side">
              <h4 class="text-center">New Assets</h4>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th class="text-purple" scope="col">PRODUCT</th>
                        <th class="text-purple" scope="col">QUANTITY</th>
                        <th class="text-purple" scope="col">STATUS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Laptop</td>
                        <td>1</td>
                        <td>Cleared</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Modem</td>
                        <td>1</td>
                        <td>Pending</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Stepler</td>
                        <td>1</td>
                        <td>Pending</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="mt-2 down-side">
              <h4 class="text-center">Repairs</h4>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th class="text-purple" scope="col">PRODUCT</th>
                        <th class="text-purple" scope="col">QUANTITY</th>
                        <th class="text-purple" scope="col">STATUS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                </table>    
            </div>
            <div class="col-md-12 text-center">
              <button
              id="1"
              type="button"
              class="btn btn-primary purple mt-2"
              (click)="openPopup()">Add Request
            </button>
            </div>
    </div>
    
    <div
      class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{'display':displayStyle}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add New Request</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Item</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Quantity</label>
                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="">
              </div>
             <div>
               <h6>Request type</h6>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  New Request
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Repair Request
                </label>
              </div>
             </div>
             <div>
              <h6>Urgency</h6>
             <div class="form-check">
               <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
               <label class="form-check-label" for="flexRadioDefault1">
                 Very Urgent
               </label>
             </div>
             <div class="form-check">
               <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
               <label class="form-check-label" for="flexRadioDefault2">
                 Urgent
               </label>
             </div>
             <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                Not Urgent
              </label>
            </div>
            </div>
              <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
      
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" 
                    (click)="closePopup()">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{'display':displatyle}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Messages</h4>
          </div>
          <div class="modal-body">
            <h6>No Messages Yet</h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" 
                    (click)="closePopu()">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{'display':dispstyle}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Notifications</h4>
          </div>
          <div class="modal-body">
            <h6>No Notifications Yet</h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" 
                    (click)="closePop()">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>