.green{
    background-color: rgb(20, 99, 86);
    color: white;
    margin-bottom: 0vh;
    padding-bottom: 0.3vh;
}
.purple{
    background-color: rgb(79, 74, 125);
    color: white;
    padding-top: 0.3vh;
}
.white{
    background-color: white;
    margin-top: 0vh;
    padding-bottom: 2vh;
}
.left-side{
    width: 30vw;
}
.right-side{
    width: 70vw;
}
.down-side{
    background-color: rgb(245, 243, 240);
}
.text-purple{
    color: rgb(79, 74, 125);
}
.cen{
    align-items: center;
}
.img{
    margin-right: 3vh;
}
.yyy{
    width: 8vw;
    height: 10vh;
}
.bck{
    background-color: transparent;
}
.onet{
    width: 20vw;
    height: 12vh;
    align-items: center;
    display: flex;
    margin-top: 1vh;
}
.staff{
    font-family: 'Tenor Sans', sans-serif;
    height: 100vh;
    
  }
a{
    text-decoration: none;
    color: black;
  }
  .asset{
    background-image: linear-gradient(to bottom right, rgb(79, 74, 125) , white);
    height: 110px;
    border: 1px solid rgb(79, 74, 125);
    border-radius: 30px;
  
  }
  
   mat-sidenav-container {
    height: inherit;
   }
  
  mat-sidenav mat-nav-list  .chevron-button {
   transition: 300ms ease-in-out;
   transform: rotate(0deg);
   right: 0;
   float: right;
  position: absolute;
  }
        
  
  mat-sidenav mat-nav-list.chevron-button.rotated {
          transform: rotate(180deg);
        }
  .content{
    background-color: #f3f3f3;
  }  
  .title{
      text-decoration: underline;
  } 