<div class="staff-dash">
  <app-nav></app-nav>
<div
      class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{'display':displatyle}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title fs-5">Messages</h4>
          </div>
          <div class="modal-body">
            <h6 class="fs-6">No new Messages Yet</h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" 
                    (click)="closePopu()">
              Close
            </button>
          </div>
        </div>
      </div>
</div>
    

<div
      class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{'display':dispstyle}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title fs-5">Notifications</h4>
          </div>
          <div class="modal-body">
            <h6 class="fs-6">No Notifications Yet</h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" 
                    (click)="closePop()">
              Close
            </button>
          </div>
        </div>
      </div>
</div>    


<section class="staff">
<mat-sidenav-container autosize>
<mat-sidenav #sidenav mode="side" opened="true">
  <mat-nav-list>

    <mat-list-item [routerLink]="'/staff'">
      <mat-icon mat-list-icon >dashboard</mat-icon>
      <span *ngIf="isExpanded">Dashboard</span>
    </mat-list-item>

    
    <mat-list-item [routerLink]="'user'">
      <mat-icon mat-list-icon
      id="2"
      type="button"
      class=""
      (click)="openPopu()">message</mat-icon>
      <span *ngIf="isExpanded">Messages</span>
    </mat-list-item>

    <mat-list-item [routerLink]="'user'">
      <mat-icon mat-list-icon>addchart</mat-icon>
      <span *ngIf="isExpanded">Inventory</span>
    </mat-list-item>

    <mat-list-item [routerLink]="'user'">
      <mat-icon mat-list-icon 
      id="2"
      type="button"
      class=""
      (click)="openPop()">
    notifications_active</mat-icon>
      <span *ngIf="isExpanded">Tasks</span>
    </mat-list-item>

    <mat-list-item  (click)="route()">
      <mat-icon mat-list-icon>person</mat-icon>
      <span *ngIf="isExpanded">Profile</span>
    </mat-list-item>

    <mat-list-item [routerLink]="'user'">
      <mat-icon mat-list-icon>logout</mat-icon>
      <span *ngIf="isExpanded">Logout</span>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon class="chevron-button sidenav-button" (click)="isExpanded = !isExpanded" [ngClass]="{'rotated': isExpanded}">chevron_right</mat-icon>
    </mat-list-item>

  </mat-nav-list>
</mat-sidenav>

<div class="content">
 
  <div class="row container-fluid">
    <div class="col"></div>
    <div class="asset text-center p-2 col m-5">
      <mat-icon class="mb-2" mat-list-icon>attach_money</mat-icon> <br>
      <a class="fs-5 mt-2 fw-normal text-dark" routerLink="/product">Assets</a>
      <h4 class="fs-5 mt-2">15</h4>
    </div>
    <div class="asset text-center p-2 col m-5">
      <fa-icon  [icon]="faToolbox"></fa-icon>
      <h4 class="mt-2 fs-5 fw-normal text-dark">Requests</h4>
      <h4 class="fs-5">{{ length }}</h4>
    </div>
    <div class="col"></div>
    

  </div>
  <div class="container">
    <div class="">
      <h4 id="scope" class="text-center fw-b fs-4 title pt-1">Requests</h4>
        <table class="table table-striped">
            <thead>
              <tr id="scope">
                <th scope="col">#</th>
                <th class="text-purple fs-5" scope="col">Product</th>
                <th class="text-purple fs-5" scope="col">Quantity</th>
                <th class="text-purple fs-5" scope="col">Urgency</th>
                <th class="text-purple fs-5" scope="col">Type</th>
                <th class="text-purple fs-5" scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor='let request of requests;let i = index'>
                <th style="background-color: rgb(212, 203, 203);"scope="row">{{ i+1 }}</th>
                <td class="fs-6">{{ request.asset_name }}</td>
                <td class="fs-6">{{ request.quantity }}</td>
                <td class="fs-6">{{ request.urgency }}</td>
                <td class="fs-6">{{ request.type }}</td>
                <td class="fs-6">{{ request.is_approved }}</td>
              </tr>

            </tbody>
          </table>
    </div>
    <div>
      <app-request-form></app-request-form>
    </div>


  </div>
</div>

</mat-sidenav-container>

</section>
</div>
<app-footer></app-footer>


