<div class="container mt-3">
  <a routerLink="/users/:id" routerLinkActive="active" href="" class="btn purple mb-2">Back</a>
  <h2 class="green">Profile Update</h2>
    <form #f="ngForm" [formGroup]="form" (ngSubmit)="updateProfile()">
        <div class="form-group">
            <label for="exampleFormControlInput1">First Name</label>
            <input formControlName="first_name" type="text" class="form-control" name="first_name">
            <label for="exampleFormControlInput1">Last Name</label>
            <input formControlName="last_name" type="text" class="form-control" name="last_name">
            <label for="exampleFormControlInput1">Email</label>
            <input formControlName="email" type="email" class="form-control" name="email">
        </div>
        <!-- <div class="form-group">
        
        </div>
        <div class="form-group d-flex flex-column">
          <label for="exampleFormControlFile1">Profile pic</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div> -->
        <button type="submit" class="btn btn">Update</button>
    </form>
</div>