<section class="container">
<div class="row">
    <div class="col-sm-5">
        <img class="mt-5 me-5" src="../../assets/undraw_secure_login_pdn4.svg" width="650
        " alt="">
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5 px-5">
        <div class=" container">
            <div class="text-center">
                <h1>Login</h1>
                <h6 class="text-muted">Please enter your login details</h6>
            </div>
            <form>
                <div class="mb-2 pt-2">
                    <input formControlName="email" type="email" class="form-control" name="email" [(ngModel)]="email"
                        placeholder="Email">
                </div>
                <div class="mb-2 pt-2">
                    <input formControlName="password" type="password" class="form-control" name="password"
                        [(ngModel)]="password" placeholder="Password">
                </div>
                <!-- <div class="mb-2 pt-2">
             
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm password">
            </div> -->
                <div class="mb-2 pt-2">
                    <button type="submit" id="login" class="btn btn-primary form-control" (click)="login()">login
                    </button>
                </div>
            </form>
            <h6 class="text-muted text-center pt-3">Don't have an account? <a routerLink="/login"><span
                        style="color: rgb(119, 84, 246);">Register</span></a> </h6>
            <h6 class=" text-muted text-center pt-2">..........or continue with..........</h6>
            <div class="d-flex justify-content-evenly pt-3">
                <div>
                    <a href="https://web.facebook.com/?_rdc=1&_rdr"><img src="../../assets/834722_facebook_icon.png"
                            width="50" alt=""></a>
                </div>
                <div>
                    <a href="https://twitter.com/"><img src="../../assets/toppng.com-twitter-logo-1252x1018.png"
                            width="50" alt="">
                    </a>
                </div>
                <div>
                    <a href="https://google.com/"><img
                            src="../../assets/2993685_brand_brands_google_logo_logos_icon.png" width="50" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>