<section class="container">
<div class="row">
    <div class="col-sm-5">
        <img class="mt-5 me-5" src="../../assets/undraw_secure_login_pdn4.svg" width="650
        " alt="">
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5 px-5">
        <div class=" container">
            <div class="text-center">
                <h1>Login</h1>
                <h6 class="text-muted">Please enter your login details</h6>
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form #f="ngForm" [formGroup]="form" (ngSubmit)="loginUser()">
                    <h4>Login</h4>
                    <p>Please enter your login details to sign up</p>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input formControlName="email" id="form3Example3" name="email" type="email" class="form-control form-control-lg"
                            placeholder="Email address" required/>                          
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input formControlName="password" type="password" name="password" id="form3Example4" class="form-control form-control-lg"
                            placeholder="Enter password" />
                    </div>
                    <button id="login" type="submit" class="btn btn-primary form-control"
                           >Submit</button>
                </form>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                        <a href="#!" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                                class="link-danger">Register</a></p>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Or continue with</p>
                    </div>

                    <!-- login and signup alternative  -->
                    <div  class="d-flex justify-content-evenly pt-3">
                        <div>
                            <a href="https://web.facebook.com/?_rdc=1&_rdr"><img src="../../assets/834722_facebook_icon.png" width="50" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="https://twitter.com/"><img src="../../assets/toppng.com-twitter-logo-1252x1018.png" width="50" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="https://google.com/"><img src="../../assets/2993685_brand_brands_google_logo_logos_icon.png" width="50" alt="">
                            </a>
                        </div>
                    </div>
                        

                
            </div>
        </div>
    </div>
</div>
</section>