<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
        <header>
            <a href="#">Manager Profile</a>
        </header>
        <ul class="nav">
            <li>
                <a href="#">
                    <img src="../../assets/man.png" width="90"alt=""> Dashboard
                </a>
            </li>
            
            <li>
                <a href="#">
                    <img src="../../assets/message.png" width="80"alt=""> Messages
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../assets/request.png" width="65"alt="" style="margin-left: 13px;"> Dashboard
                </a>
            </li>
            
            <li>
                <a href="#">
                    <img src="../../assets/not.png" width="55"alt="" style="margin-left: 13px; padding-top: 15px;"> Messages
                </a>
            </li>
        </ul>
    </div>
    <!-- Content -->
    <div id="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class=" tabs container-fluid">
            <h1>Simple Sidebar</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                   <div class="card-body">
                      <h5 class="card-title">Staffs</h5>
                      <h5>25</h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Assets</h5>
                      <h5>15</h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    
                    <div class="card-body">
                      <h5 class="card-title">Repairs</h5>
                      <h5>10</h5>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="inventory">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Item</th>
                      <th scope="col">Category</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Status</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td colspan="2">Larry the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
              </table>
        </div>
    </div>
</div>