body{
  background-color: #D3D3D3
}
.navbar{
  font-family: 'Tenor Sans', sans-serif;
  background-color: rgb(20, 99, 86);
  
  
}

.btn1{
  background-color: rgb(79, 74, 125);
}

.btn2{
  background-color: white;
  color: rgb(79, 74, 125);
  border: 2px solid rgb(79, 74, 125); /* Green */
}