<!--Main Navigation-->
<header>
  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand" href="#">
        <img src="../../assets/" height="25" alt="Royal Logo" loading="lazy" />
      </a>
      <!-- Search form -->


      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->
        <li>
          <form class="d-none d-md-flex input-group w-auto my-auto" style=" margin-right:200px;">
            <input autocomplete="off" type="search" class="form-control rounded"
              placeholder='Search' style="min-width: 225px;"  />
            <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
          </form>
        </li>
        <!-- Avatar -->
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="#"
            id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle" height="22"
              alt="Avatar" loading="lazy" />
          </a>

        </li>

      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<router-outlet></router-outlet>