#viewport{
  font-family: 'Tenor Sans', sans-serif;
}
/* Toggle Styles */


.row{
    text-align: center;
}
.inventory{
    padding-left: 40px;
}

.btn1{
  background-color: rgb(79, 74, 125);
}

.title{
  color: rgb(79, 74, 125);
}

.asset{
  background-image: linear-gradient(to bottom right, rgb(79, 74, 125) , white);
  height: 110px;
  border: 1px solid rgb(79, 74, 125);
  border-radius: 30px;

}
.app-component{
  width: 98%;
}
.main-box{
  height: 650px;
  background-image: linear-gradient(to bottom right, rgb(20, 99, 86) , white);
  /* width: 65px; */
}
.main-box:hover{
  width: 215px;
  transition: 0.3s;
}

.menu-items{
  list-style: none;
  line-height: 60px;
  padding-left: 0px;
  height: 100%;
  /* display: flex; */
}
 .menu-items li{
   font-size: 18px;
   font-weight: 600;
   padding-left: 25px;
   cursor: pointer;
 }
 .menu-items li:hover{
   background-color: white;
   color: #7d7d7d;
 }

 .menu-items li i{
   width: 35px;
   font-size:26px ;
   margin: 0px 20px 0px 0px;
   position: relative;
   top: 15px;
 }
