
<section class="admin">
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-nav-list>
  
        <mat-list-item [routerLink]="'/admin'">
          <mat-icon mat-list-icon >dashboard</mat-icon>
          <span *ngIf="isExpanded">Dashboard</span>
        </mat-list-item>
  
        <mat-list-item [routerLink]="'user'">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <span *ngIf="isExpanded">Employees</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'user'">
          <mat-icon mat-list-icon>inventory</mat-icon>
          <span *ngIf="isExpanded">Inventory</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'user'">
          <mat-icon mat-list-icon>add_task</mat-icon>
          <span *ngIf="isExpanded">Tasks</span>
        </mat-list-item>
  
        <mat-list-item [routerLink]="'user'">
          <mat-icon mat-list-icon>attach_money</mat-icon>
          <span *ngIf="isExpanded">Assets</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'/users/id'">
          <mat-icon mat-list-icon >person</mat-icon>
          <span *ngIf="isExpanded">Profile</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'user'">
          <mat-icon mat-list-icon>logout</mat-icon>
          <span *ngIf="isExpanded">Logout</span>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon class="chevron-button sidenav-button" (click)="isExpanded = !isExpanded" [ngClass]="{'rotated': isExpanded}">chevron_right</mat-icon>
        </mat-list-item>
  
      </mat-nav-list>
    </mat-sidenav>
  
    <div class="content">
     
      <div class="row container-fluid">
        <div class="col"></div>
        <div class="asset text-center p-2 col m-5">
          <mat-icon mat-list-icon >person</mat-icon>
          <a class="fs-5 mt-2 fw-normal" routerLink="/staff-asset">Staff</a>
          <h4 class="fs-5">15</h4>
        </div>
        <div class="asset text-center p-2 col m-5">
          <mat-icon class="mb-2" mat-list-icon>attach_money</mat-icon> <br>
          <a class="fs-5 mt-2 fw-normal" routerLink="/product">Assets</a>
          <h4 class="fs-5 mt-2">15</h4>
        </div>
        <div class="asset text-center p-2 col m-5">
          <fa-icon  [icon]="faToolbox"></fa-icon>
          <a class="fs-5 mt-2 fw-normal" routerLink="/">Repairs</a>
          <h4 class="fs-5">15</h4>
        </div>
        <div class="col"></div>
        
    
      </div>
      <div class="container">
        <table class=" table content-table table-hover">
          <thead>
            <tr>
              
              <th scope="col">#</th>
              <th scope="col">NAME</th>
              <th scope="col">DEPARTMENT</th>
              <th scope="col">CONTACT</th>
              <th scope="col">TITLE</th>
              <th scope="col">ACTION</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let employee of employees;let i = index'>
              <th scope="row"></th>
              <td>{{ employee.name }}</td>
              <td>{{ employee.department }}</td>
              <td>{{ employee.contact }}</td>
              <td>{{ employee.role}}</td>
            </tr>
          </tbody>
        </table>
        <div>
          <app-add-staff></app-add-staff>
        </div>
      </div>
    </div>
  
  </mat-sidenav-container>

</section>
<app-footer></app-footer>


