<!-- <app-nav></app-nav> -->

  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div>
      <button style="margin-left: 85px;" class="btn purple mb-2" routerLink="/managers/1" type="submit">Back</button>
    </div>
    <div class="container pt-4">
        <h3><strong>Assets of Royal Asset Company</strong></h3>
        <table class="table table-striped">
            <thead>
                <tr id="scope">
                  
                  <th scope="col"></th>
                  <th scope="col">#</th>
                  <th scope="col">Item</th>
                  <th scope="col">Category</th>
                  <!-- <th scope="col">Quantity</th> -->
                  <th scope="col">Assigned</th>
                  <th scope="col">Stored</th>
                  <th scope="col">Broken</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor='let asset of assets;let i = index'>
                  <th scope="row"></th>
                  <td>{{ i+1 }}</td>
                  <td>{{ asset.Item }}</td>
                  <td>{{ asset.Category }}</td>
                  <td>{{ asset.Assigned }}</td>
                  <td>{{ asset.Stored }}</td>
                  <td>{{ asset.Broken }}</td>
                </tr>

              </tbody>
          </table>
         
          <div>
            <app-asset-form (addAsset)="addNewAsset($event)"></app-asset-form>
          </div>
    </div>
    