<app-nav></app-nav>
  <!--Main layout-->



  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div class="container pt-4">
        <h3>Assets within The company</h3>
        <table class="table table-striped">
            <thead>
                <tr id="scope">
                  
                  <th scope="col"></th>
                  <th scope="col">No.</th>
                  <th scope="col">Item</th>
                  <th scope="col">Category</th>
                  <!-- <th scope="col">Quantity</th> -->
                  <th scope="col">Assigned</th>
                  <th scope="col">Stored</th>
                  <th scope="col">Broken</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor='let asset of assets;let i = index'>
                  <th scope="row"></th>
                  <td>{{ i+1 }}</td>
                  <td>{{ asset.Item }}</td>
                  <td>{{ asset.Category }}</td>
                  <td>{{ asset.Assigned }}</td>
                  <td>{{ asset.Stored }}</td>
                  <td>{{ asset.Broken }}</td>
                </tr>

              </tbody>
          </table>
          <button id="assets" routerLink="product">view requests</button>
    </div>
    