<!--Main layout-->
<main style="margin-top: 58px;">
    <div>
        <button style="margin-left: 85px;" class="btn purple mb-2" routerLink="/managers/1" type="submit">Back</button>
    </div>
    <div class="container pt-4">
        <h3 id="scope"><strong>All Company Employees</strong></h3>
        <table class="table table-striped">
            <thead>
                <tr id="scope">

                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Department</th>
                    <th scope="col">Role</th>
                    <th scope="col">Contact</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let employee of employees;let i = index'>
                    <th id="scope" scope="row"></th>
                    <td>{{ i+1 }}</td>
                    <td>{{ employee.username}}</td>
                    <td>{{ employee.department }}</td>
                    <td>{{ employee.role }}</td>
                    <td>{{ employee.contact }}</td>
                </tr>

            </tbody>
        </table>
    </div>