<section class="container-fluid home ">
  <div class="row">
    <div class=" home-section col-md-7">
      <h1 class="text-center text-light pt-5 mt-3">Best service <br> with the best <br> experts</h1>

      <h3 class="text-center text-light pt-5 mt-3">With the help of our <br> management, life gets easy.</h3>
      
      <div class="text-center">
        <img src="../../assets/884516.gif" width="300" alt="">
      </div>
      <div class="text-center">
        <button class=" btn  text-light"  routerLink="login" type="submit">LOGIN</button>
      </div>

      


    </div>

    <div class=" col-md-5">
      <img class="mt-3" src="../../assets/undraw_data_input_fxv2.svg" alt="">
    </div>
  </div>
 

</section>
